@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Light Gray */
    --foreground: 0 0% 0%; /* Black */
    --primary: 0 0% 0%; /* Black */
    --border: 0 0% 85%; /* Light Border Gray */
    --border-foreground: 0 0% 65%; /* Medium Gray */
    --secondary: 0 0% 88%; /* Very Light Gray */
  }

  .dark {
    --background: 0 0% 0%; /* Dark Gray */
    --foreground: 0 0% 0%; /* Darker Gray */
    --primary: 0 0% 100%; /* White */
    --border: 0 0% 11%; /* Dark Border Gray */
    --border-foreground: 0 0% 19%; /* Medium Dark Gray */
    --secondary: 0 0% 13%; /* Slightly Darker Gray */
  }
}
